<!-- ============== Header starts ============== -->
  <header>
    <div class="container-fluid">
      <div class="row"> 
        
        <!-- ============== Left logo block starts ============== -->
        <div class="col-xs-5 col-sm-6 logo-block">
          <figure><a href="/home" ><img class="img-responsive" src="assets/images/logo.png" alt="Logo" /></a></figure>
        </div>
        <!-- ============== Left logo block ends ============== -->
        
        <div class="col-xs-7 col-sm-6 pull-right text-right right-nav"> 
          <a (click) = "openLogin()" style="color:#4ea950; padding:0 5px; cursor:pointer">SIGN IN </a>
        </div>
        <!-- ============== Main navigation ends ============== --> 
      </div>
    </div>
  </header>
  <!-- ============== Header ends ============== -->

   <div class="mainslides">
    <ul class="cb-slideshow">
      <li><span>Image 01</span>
        <div>
          <h3>Healthy inside, fresh outside.</h3>
        </div>
      </li>
      <li><span>Image 02</span>
        <div>
          <h3>Healthy inside, fresh outside.</h3>
        </div>
      </li>
      <li><span>Image 03</span>
        <div>
          <h3>Healthy inside, fresh outside.</h3>
        </div>
      </li>
      <li><span>Image 04</span>
        <div>
          <h3>Healthy inside, fresh outside.</h3>
        </div>
      </li>
      <li><span>Image 05</span>
        <div>
          <h3>Healthy inside, fresh outside.</h3>
        </div>
      </li>
      <li><span>Image 06</span>
        <div>
          <h3>Healthy inside, fresh outside.</h3>
        </div>
      </li>
    </ul>
    <div class="content">
      <form class="subscribe-form">
        <b>ENTER YOUR ADDRESS</b><br>
        <input #textbox type="text" class="text-spx text-lt" placeholder="Street address, City, State"
        [options]='options' (setAddress) = "getAddress($event)"(street_number) = 'street_number=$event'(street)= 'street=$event'
        (city)= 'city=$event'(state)='state=$event'(district)='district=$event'(country)='country=$event'
        (postal_code)='postal_code=$event'(lat)='lat=$event' (lng)='lng=$event' (adr_address)='adr_address=$event' 
        (name)='name=$event' (place_id)='place_id=$event' (types)='types=$event' (url)='url=$event'  (utc_offset)='utc_offset=$event' 
        (vicinity)='vicinity=$event' (photos)='photos=$event' (airport)='airport=$event'  (CountryCodes)='CountryCodes=$event'
        id="autocomplete" ng2-google-place-autocomplete/> 
        <button type="button" class="btn text-uppercase wow flipInX animated animated" style="visibility: visible; animation-name: flipInX;" 
        (click)="btnFindFood(textbox.value,'xxx')" >Find Food</button>
      </form>
    </div>
  </div>

  <main> 
    <!-- ============== how it works block starts ============== -->
    <section class="block how-it-works-block">
      <div class="container">
        <div class="top-text text-center wow fadeInUp">
          <h4 class="text-uppercase text-lt text-sp" >HOW IT WORKS</h4>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4 choose wow fadeInLeft">
            <div class="feature-item-wrap text-center">
              <figure><a href="#"><img class="img-responsive" src="assets/images/meal.svg" alt="Meal icon" /></a></figure>
              <h5><a class="text-lt" href="#">Choose Your Favorite</a></h5>
              <p>Choose your favorite meals and order online or by phone. It's easy to customize your order.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 deliver wow fadeInUp">
            <div class="feature-item-wrap text-center">
              <figure><a href="#"><img class="img-responsive" src="assets/images/delivery.svg" alt="Delivery icon" /></a></figure>
              <h5><a class="text-lt" href="#">We Deliver Your Meals</a></h5>
              <p>We prepared and delivered meals arrive at your door. Duis autem vel eum iriure dolor in hendrerit in vulputate.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 eat wow fadeInRight">
            <div class="feature-item-wrap text-center">
              <figure><a href="#"><img class="img-responsive" src="assets/images/eat-enjoy.svg" alt="Eat and enjoy icon" /></a></figure>
              <h5><a class="text-lt" href="#">Eat and Enjoy</a></h5>
              <p>No shooping, no cooking, no counting and no cleaning. Enjoy your healthy meals with your family.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ============== how it works block starts ============== --> 
    
    <!-- ============== full width video block starts ============== -->
    <section class="full-width-video">
      <div class="video-wra"> <img class="video-bg" alt="demo video playback" src="assets/images/video-bg.jpg"> </div>
    </section>
    <!-- ============== full width video block ends ============== --> 
    
    <!-- ============== download app block starts ============== -->
    <section class="download-app-block">
      <div class="container"> 
        <!-- left image starts -->
        <div class="wow fadeInLeft left-mobile">
          <figure><img src="assets/images/mobile-phone.png" alt="Mobile phone" /></figure>
        </div>
        <!-- left image ends --> 
        
        <!-- right text starts -->
        <div class="wow fadeInRight download-app-text">
          <div class="download-app-wrap">
            <h4><a href="#" class="text-lt text-sp">Download the app</a></h4>
            <h1 class="text-lt text-sp">Choose. Eat. Enjoy</h1>
            <p>Nam liber tempor csoluta nobis eleifnd option congue nihil imperdiet doming iquod mazim placerat facer possim assum lorem ipsum dolor possim assum lorem ipsum dolor.</p>
            <div class="download-from"> <a href="#" data-toggle="modal" data-target=".download-popup"><img src="assets/images/app-store.png" alt="App store" /></a> <a href="#" data-toggle="modal" data-target=".download-popup"><img src="assets/images/google-play.png" alt="Google Play" /></a> </div>
          </div>
        </div>
        <!-- right text ends --> 
      </div>
    </section>
    <!-- ============== download app block ends ============== --> 
    
    <!-- ============== testimonials block starts ============== --> 
    
  </main>