<div id="mySearch">
  <div class="overlay-content">
    <div class="container"> <a href="javascript:void(0)" class="closebtn" (click)="activeModal.close('click on cross')"><i class="fa fa-times"></i></a>
      <div class="search-section">
        <form>
          <input type="text" placeholder="Search">
        </form>
      </div>
      <h6 class="m_t_40">Top Categories</h6>
      <div class="col-sm-9 row">
        <div class="row">
          <!-- Each popular food item starts -->
          <div class="col-xs-12 col-sm-6 col-sm-3 food-categories">
            <div class="food-item-wrap">
              <a href="category.html">
                <div class="figure-wrap bg-image" data-image-src="images/food1.jpg" style="background:url(images/food1.jpg) center center / cover no-repeat;">

                  <div class="overlay"><b>Deserts</b></div>
                </div>
              </a>
            </div>
          </div>
          <!-- Each popular food item starts -->
          <!-- Each popular food item starts -->
          <div class="col-xs-12 col-sm-6 col-sm-3 food-categories">
            <div class="food-item-wrap">
              <a href="category.html">
                <div class="figure-wrap bg-image" data-image-src="images/food1.jpg" style="background:url(images/food1.jpg) center center / cover no-repeat;">

                  <div class="overlay"><b>Deserts</b></div>
                </div>
              </a>
            </div>
          </div>
          <!-- Each popular food item starts -->
          <!-- Each popular food item starts -->
          <div class="col-xs-12 col-sm-6 col-sm-3 food-categories">
            <div class="food-item-wrap">
              <a href="category.html">
                <div class="figure-wrap bg-image" data-image-src="images/food1.jpg" style="background:url(images/food1.jpg) center center / cover no-repeat;">

                  <div class="overlay"><b>Deserts</b></div>
                </div>
              </a>
            </div>
          </div>
          <!-- Each popular food item starts -->
          <!-- Each popular food item starts -->
          <div class="col-xs-12 col-sm-6 col-sm-3 food-categories">
            <div class="food-item-wrap">
              <a href="category.html">
                <div class="figure-wrap bg-image" data-image-src="images/food1.jpg" style="background:url(images/food1.jpg) center center / cover no-repeat;">

                  <div class="overlay"><b>Deserts</b></div>
                </div>
              </a>
            </div>
          </div>
          <!-- Each popular food item starts -->
          <!-- Each popular food item starts -->
          <div class="col-xs-12 col-sm-6 col-sm-3 food-categories">
            <div class="food-item-wrap">
              <a href="category.html">
                <div class="figure-wrap bg-image" data-image-src="images/food1.jpg" style="background:url(images/food1.jpg) center center / cover no-repeat;">

                  <div class="overlay"><b>Deserts</b></div>
                </div>
              </a>
            </div>
          </div>
          <!-- Each popular food item starts -->
          <!-- Each popular food item starts -->
          <div class="col-xs-12 col-sm-6 col-sm-3 food-categories">
            <div class="food-item-wrap">
              <a href="category.html">
                <div class="figure-wrap bg-image" data-image-src="images/food1.jpg" style="background:url(images/food1.jpg) center center / cover no-repeat;">

                  <div class="overlay"><b>Deserts</b></div>
                </div>
              </a>
            </div>
          </div>
          <!-- Each popular food item starts -->
          <!-- Each popular food item starts -->
          <div class="col-xs-12 col-sm-6 col-sm-3 food-categories">
            <div class="food-item-wrap">
              <a href="category.html">
                <div class="figure-wrap bg-image" data-image-src="images/food1.jpg" style="background:url(images/food1.jpg) center center / cover no-repeat;">

                  <div class="overlay"><b>Deserts</b></div>
                </div>
              </a>
            </div>
          </div>
          <!-- Each popular food item starts -->
        </div>
      </div>

      <div class="clearfix"></div>
      <h6 class="m_t_40">More Categories</h6>
      <div class="col-sm-9 row">
        <div class="row">
          <!-- Each popular food item starts -->
          <div class="col-xs-12 col-sm-6 col-sm-3 food-categories">
            <div class="food-item-wrap">
              <a href="category.html">
                <div class="figure-wrap bg-image" data-image-src="images/food1.jpg" style="background:url(images/food1.jpg) center center / cover no-repeat;">

                  <div class="overlay"><b>Deserts</b></div>
                </div>
              </a>
            </div>
          </div>
          <!-- Each popular food item starts -->
          <!-- Each popular food item starts -->
          <div class="col-xs-12 col-sm-6 col-sm-3 food-categories">
            <div class="food-item-wrap">
              <a href="category.html">
                <div class="figure-wrap bg-image" data-image-src="images/food1.jpg" style="background:url(images/food1.jpg) center center / cover no-repeat;">

                  <div class="overlay"><b>Deserts</b></div>
                </div>
              </a>
            </div>
          </div>
          <!-- Each popular food item starts -->
          <!-- Each popular food item starts -->
          <div class="col-xs-12 col-sm-6 col-sm-3 food-categories">
            <div class="food-item-wrap">
              <a href="category.html">
                <div class="figure-wrap bg-image" data-image-src="images/food1.jpg" style="background:url(images/food1.jpg) center center / cover no-repeat;">

                  <div class="overlay"><b>Deserts</b></div>
                </div>
              </a>
            </div>
          </div>
          <!-- Each popular food item starts -->
          <!-- Each popular food item starts -->
          <div class="col-xs-12 col-sm-6 col-sm-3 food-categories">
            <div class="food-item-wrap">
              <a href="category.html">
                <div class="figure-wrap bg-image" data-image-src="images/food1.jpg" style="background:url(images/food1.jpg) center center / cover no-repeat;">

                  <div class="overlay"><b>Deserts</b></div>
                </div>
              </a>
            </div>
          </div>
          <!-- Each popular food item starts -->
          <!-- Each popular food item starts -->
          <div class="col-xs-12 col-sm-6 col-sm-3 food-categories">
            <div class="food-item-wrap">
              <a href="category.html">
                <div class="figure-wrap bg-image" data-image-src="images/food1.jpg" style="background:url(images/food1.jpg) center center / cover no-repeat;">

                  <div class="overlay"><b>Deserts</b></div>
                </div>
              </a>
            </div>
          </div>
          <!-- Each popular food item starts -->
          <!-- Each popular food item starts -->
          <div class="col-xs-12 col-sm-6 col-sm-3 food-categories">
            <div class="food-item-wrap">
              <a href="category.html">
                <div class="figure-wrap bg-image" data-image-src="images/food1.jpg" style="background:url(images/food1.jpg) center center / cover no-repeat;">

                  <div class="overlay"><b>Deserts</b></div>
                </div>
              </a>
            </div>
          </div>
          <!-- Each popular food item starts -->
          <!-- Each popular food item starts -->
          <div class="col-xs-12 col-sm-6 col-sm-3 food-categories">
            <div class="food-item-wrap">
              <a href="category.html">
                <div class="figure-wrap bg-image" data-image-src="images/food1.jpg" style="background:url(images/food1.jpg) center center / cover no-repeat;">

                  <div class="overlay"><b>Deserts</b></div>
                </div>
              </a>
            </div>
          </div>
          <!-- Each popular food item starts -->
        </div>
      </div>
    </div>
  </div>




</div>