<!-- loader image before page load starts -->
    <div class="se-pre-con"></div>
    <!-- loader image before page load ends -->
    <!-- main wrapper of the site starts -->
    <div class="wrapper">
        <router-outlet></router-outlet>
        
        <!-- ============== footer block starts ============== -->
        <footer>
            <div class="top-footer">
              <div class="container">
                <div class="row">
                        <div class="col-xs-12 col-sm-4 footer-logo">
                            <figure><a href="#"><img class="img-responsive" src="assets/images/logo.png" alt="Footer logo" /></a></figure>
                        </div>
                        <!-- <div class="col-xs-12 col-sm-2 footer-social-links pull-right hidden-md hidden-lg hidden-xs">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook hvr-wobble-top"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter hvr-wobble-top"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus hvr-wobble-top"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram hvr-wobble-top"></i></a></li>
                                <li><a href="#"><i class="fa fa-tumblr hvr-wobble-top"></i></a></li>
                            </ul>
                        </div> -->
                        <div class="col-xs-12 col-sm-5 footer-menu">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 footer-links-col">
                                    <span>about</span>
                                    <ul>
                                        <li><a href="#">about us</a></li>
                                        <li><a href="#">See all cities</a></li>
                                    </ul>
                                </div>
                                
                                <div class="col-xs-12 col-sm-4 footer-links-col">
                                    <span>Services</span>
                                    <ul>
                                        <li><a href="#">Help</a></li>
                                        <li><a href="#">FAQs</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-sm-4 footer-links-col">
                                    <span>term</span>
                                    <ul>
                                        <li><a href="#">privacy</a></li>
                                        <li><a href="#">Terms</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 footer-social-links pull-right hidden-sm">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook hvr-wobble-top"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter hvr-wobble-top"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus hvr-wobble-top"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram hvr-wobble-top"></i></a></li>
                                <li><a href="#"><i class="fa fa-tumblr hvr-wobble-top"></i></a></li>
                            </ul>
                        </div>
                  </div>
                </div>
            </div>

            <div class="bottom-footer">
                <div class="container">
                    <div class="copyright-text text-center">&copy; 2017 Feast Freedom. ALL RIGHT RESERVED.</div>
                </div>
            </div>
        </footer>
        <!-- ============== footer block starts ============== -->
    </div>





